/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "myanmmar-text";
    src: url(./Font/mmrtext.ttf);

    font-family: "eras-medium-itc";
    src: url(./Font/eras-medium-itc.ttf);
}

:root {
    --cor-da-rota: #20571d;
    --cor-lima: #2b9109;
    --cor-branco: #ffffff;
    --cor-azul-escuro: #1D3357;
    --cor-preta: #000000;
}

body {
    overflow-x: hidden;
    background-color: #bebebe;
}

.espacamentoLateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

.espacamentoLateral a {
    background: linear-gradient(#2B9109);
    max-height: 100vh;
    border-radius: 40px;
    padding: 5px 5px;
}

body {
    overflow-x: hidden;
    background-color: var(--fundo-site);
}

.banner {
    background-image: url("./img/bela-foto-aerea-de-uma-praia-com-colinas-ao-fundo-ao-por-sol.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 0px;

    background-size: 1550px;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    justify-content: flex-start;
    align-self: flex-start;

}

.banner img {
    max-width: 380px;
    width: 50%;
    justify-content: right;
}

header {
    height: 165px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container-grid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 234px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    color: white;
    font-family: "eras-medium-itc", Bold;
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--cor-da-rota);
}

#sobre h2 {
    margin-right: 5px;
    font-family: "eras-medium-itc", bold;
}

#sobre p {
    font-family: "eras-medium-itc", Regular;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}

#sobre {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;
}

/* ------------------------------------------ */

#sobre {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;

}

#sobre img {
    max-width: 460px;
    width: 40%;

}



.titulo {


    font-weight: 400;
    font-size: 35px;

}

.titulo h2 {
    color: var(--cor-branco);
    margin-bottom: 0;
    background-color: var(--cor-lima);
    border-radius: 20px;
    padding: 10px 18px;

    font-family: "myanmar-text", Regular;
}

.titulo p {
    text-align: center;
}

.Diferença h2 {
    background: linear-gradient(#2B9109);
    justify-content: center;
    max-height: 100vh;
    border-radius: 40px;
    text-align: center;

    font-family: "eras-medium-itc", Regular;
    color: var(--cor-branco);
    padding: 5px 5px;


}

.Diferença h4 {
    text-align: center;
    font-family: "eras-medium-itc", regular;
    margin-bottom: 100px;

}

.Diferença ul {
    text-align: center;
    text-align: left;
    font-family: "eras-medium-itc", regular;

}

#cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 120px;
}

#cases img {
    height: 300px;
    border-radius: 40px;
}

#meuCarrossel {
    max-width: 1170px;
    width: 90%;
    margin: 150px;
}

#servicos h2 {
    font-family: "eras-medium-itc", regular;
}


#servicos .card {
    width: 300px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#servicos .card h3 {
    font-size: 24px;
    margin: 5px 0 30px;
    color: var(--cor-da-rota);
    font-family: "eras-medium-itc", regular;
    text-align: center;
}

#servicos .card p {
    font-family: "myanmar-text", regular;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#servicos .card svg {
    color: var(--cor-lima);
    height: 75px;
}

#servicos .card:hover {
    border: solid 3px var(--cor-da-rota);
}

#servicos .card:hover svg {
    fill: var(--cor-da-rota)
}

#servicos .card:hover h3 {
    color: var(--cor-da-rota);
}

.grupo-card {
    display: flex;
    align-items: center;
}

.card img{
    border-radius: 50px;
    height: 200px;
    width: 200px;

}